
@font-face {
    font-family: "Antonio-Regular.ttf";
    src: url(./fonts/Antonio-Regular.ttf);
}

@font-face {
    font-family: "Inconsolata_Condensed-Bold.ttf";
    src: url(./fonts/Inconsolata_Condensed-Bold.ttf);
}

@font-face {
    font-family: "Inconsolata_Condensed-Regular.ttf";
    src: url(./fonts/Inconsolata_Condensed-Regular.ttf);
}

@font-face {
    font-family: "Inconsolata_Condensed-SemiBold.ttf";
    src: url(./fonts/Inconsolata_Condensed-SemiBold.ttf);
}

:root {
    /* colors */
    --background-color: #101010;
    --secondary-color: #CCC9BB;
    --primary-gradient: linear-gradient(180deg, hsl(0, 0%, 9%), var(--background-color));
    --secondary-transparent-60: rgba(204, 201, 187, 0.6);
    --secondary-transparent-30: rgba(204, 201, 187, 0.3);
    --secondary-transparent-0: rgba(204, 201, 187, 0.01);
    /* spacing */
    --spacing-1x: 0.25rem;
    --spacing-2x: 0.5rem;
    --spacing-3x: 0.75rem;
    --spacing-4x: 1rem;
    --spacing-5x: 1.25rem;
    --spacing-6x: 1.5rem;
    --spacing-8x: 2rem;
    --spacing-10x: 2.25rem;
    --spacing-12x: 3rem;
    --spacing-14x: 4rem;
    --spacing-17x: 4.25rem;
    --spacing-20x: 5rem;
    --spacing-26x: 6.5rem;
    /* border-radius */
    --border-radius-sm: 6px;
    /* typography */
    --font-size-heading-lg: 1.5rem;
    --font-size-heading-md: 1.25rem;
    --font-size-paragraph: 1rem;
    --font-size-paragraph-lg: 1.1rem;
    --font-size-button: 1.15rem;
    --font-size-accent: 7rem;
    --font-family-heading: "Antonio-Regular.ttf";
    --font-family-paragraph: "Inconsolata_Condensed-Regular.ttf";
    --font-family-button: "Inconsolata_Condensed-Semibold.ttf";
    --font-family-paragraph-bold: "Inconsolata_Condensed-Bold.ttf";
    /* transitions */
    --transition-duration: 0.4s;
    --transition-function: ease-out;
    --transition-delay: 400ms;

    /* define light mode variables here and then use classes to apply them with javascript */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: fit-content;
    overflow: scroll;
    display: grid;
    grid-template-columns: 60px repeat (7, 1fr);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    grid-row: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.line {
    height: 2px;
    width: 28px;
    background-color: #CCC9BB;
    border-radius: 20px;
}

.logo {
    max-width: 50vw;
}

.about-me {
    grid-row: 2;
    height: 300px;
    background: var(--primary-gradient);
}

.featured {
    grid-row: 3;
    height: 300px;
    background: var(--primary-gradient);
}

.projects {
    grid-row: 4;
    height: 300px;
    background: var(--primary-gradient);
}

.summary {
    grid-row: 5;
    height: 300px;
    background: var(--primary-gradient);
}

.experience {
    grid-row: 6;
    height: 300px;
    background: var(--primary-gradient);
}

.education {
    grid-row: 7;
    height: 300px;
    background: var(--primary-gradient);
}

.contacts {
    grid-row: 8;
    height: 300px;
    background: var(--primary-gradient);
}


/* test */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.overlay-content {
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 20px;
    position: relative;
}
.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}